

.HeaderSide-img img{
    border-radius: 300px;
    width: 500px;
    transform-origin: top right;
    animation-name: upDown;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}

@keyframes upDown {
    0% {
        transform: translateY(1.1);
    }
    20%{
        transform: translateY(-15px);
    }
    40%{
        transform: translateY(1.1);
    }
    80%{
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(1.1);
    }
    
}


.headerSide-text h1:hover{
    transform: scale(1.1);
    transition: transform 2s;
}


@media (max-width: 1200px) {
    .HeaderSide-img img{
        width: 500px;
       
    }
  }

  @media (max-width: 768px) {
    .HeaderSide-img img{

        width: 300px;
       
    }
  }

  @media (max-width: 480px) {
    .HeaderSide-img img{

        width: 200px;
       
    }
  }