.App {
  text-align: center;
}
.side-navBar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(168, 139, 139, 0.685);
  overflow-x: hidden;
  padding-top: 20px;
}

.side-navBar a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
 
  color: #141414;
  display: block;
}

.side-navBar a:hover {
  color: #d18c8c;
}

